body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 40px auto;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solig gray;
}

completed {
  text-decoration: line-through;
}
